* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #E27DA1;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

b {
  color: #FFD1B0;
}

ul {
  background-color: #356E9A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

li {
  list-style: none;
}

i {
  color: #FFD1B0;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin: 20px 10px;
}

a:hover {
  color: #FFD1B0;
}

table a {
  display: block;
}

table {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  border: 5px solid #356E9A;
}

table i {
  display: inline-block;
}

th {
  height: 50px;
  border: 5px solid #356E9A;
}

td {
  border: 5px solid #356E9A;
}
